body { display: flex; flex-direction: column; margin: 0; background-color: #313338; font-family: system-ui; min-height: 100vh; margin-top: 30px; }
main { position: relative; flex: 1 1 auto; }
footer { background-color: #1E1F22; padding: 15px 0; margin-top: 80px; text-align: center; }
footer a { color: #fff; text-decoration: none; font-size: 14px; }
footer a:hover { text-decoration: underline; }
.warning { position: fixed; top: 0; left: 0; right: 0; background: #F7C62B; z-index: 99; padding: 0 20px; text-transform: uppercase; height: 30px; display: flex; align-items: center; justify-content: center; }
.container { max-width: 1650px; padding: 0 15px; margin: 0 auto; }
.top { position: absolute; z-index: 1; gap: 20px; left: 	10px; top: 10px; right: 10px; display: flex; justify-content: space-between; }
.nebs-logo { width: 200px; }
.gamebox-logo { width: 180px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
.video-container { position: relative; height: 800px; }
.video-container .video { object-fit: cover; object-position: center; height: 800px; width: 100%; }
.video-container .overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0; opacity: 0.05; background: #ffa500; }
.content { margin-top: -150px; display: flex; gap: 30px; }
.player { background: linear-gradient(0deg, rgb(31 46 70 / 76%) 40%, rgb(74 74 74) 100%); box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; }
.player .names { background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(88,101,242,0) 100%); }
.grid-row { display: grid; grid-auto-rows: 1fr; grid-template-columns: 1fr 1fr 1fr; gap: 30px; }
.player { height: 470px; border-radius: 10px; position: relative; overflow: hidden; }
.player .flag { position: absolute; width: 30px; left: 10px; top: 5px; }
.player .weapon { position: absolute; right: 0; margin: 10px; }
.player .weapon.ak img, .player .weapon.sg556 img { width: 75px; }
.player .image { height: 100%; width: 100%; object-fit: cover; }
.player .names { position: absolute; left: 0; right: 0; bottom: 0; padding: 20px; }
.player .names .tag { color: #fff; font-size: 11px; padding: 3px 10px; background: rgb(255 255 255 / 5%); border-radius: 5px; display: inline-block; margin-bottom: 5px; }
.player .names .crown { margin-bottom: -5px; width: 15px; height: 15px; }
.player .names .nickname { color: #C60C30; font-size: 24px; margin: 0; margin-bottom: 12px; font-weight: 800; line-height: 20px; }
.player .names .name { color: #fff; font-size: 18px; margin: 0; line-height: 15px; }
.discord-container { z-index: 1; width: 33%; }
.discord-container iframe { width: 100%; height: 768px; z-index: 1; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; }
.players-container { z-index: 1; width: 66%; }
.active-player { visibility: hidden; opacity: 0; transition: visibility 0s, opacity 0.3s linear; }
.active-player .overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0; opacity: 0.4; background: #000; }
.active-player .socials { position: absolute; right: -40px; bottom: 0; top: 0; transition: 0.3s; display: flex; flex-direction: column; gap: 10px; justify-content: center; width: 40px; text-align: center; }
.active-player .socials img, .active-player .socials svg { width: 25px; }
.active-player .socials .csgo-stats-logo { width: 40px; }
.player:hover .active-player { visibility: visible; opacity: 1; }
.player:hover .active-player .socials { right: 10px; }

@media(max-width: 1535px) {
  .video-container, .video-container .video { height: 500px; }
  .grid-row { grid-template-columns: 1fr 1fr; }
}

@media(max-width: 991px) {
  .content { flex-direction: column-reverse; }
  .discord-container { width: 100%; }
  .players-container { width: 100%; }
}

@media(max-width: 768px) {
  .grid-row { grid-template-columns: 1fr 1fr; }
}

@media(max-width: 525px) {
  .gamebox-logo { width: 150px; }
  .grid-row { grid-template-columns: 1fr; }
}
